{% extends 'base.html' %}
{% block title %}Response Page{% endblock %}
{% block content %}
<img src='{{ url_for('static', filename='img/Figure_1.png') }}' alt='graph' width=600 height=400>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
    </tr>
  </tbody>
</table> THE ACCURACY OF THE MODEL IS: 1.0<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Unnamed: 1</th>
      <th>Unnamed: 2</th>
      <th>Unnamed: 3</th>
      <th>Unnamed: 4</th>
      <th>Unnamed: 5</th>
      <th>Unnamed: 6</th>
      <th>Unnamed: 7</th>
      <th>Unnamed: 8</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Inititing Event</td>
      <td>Probability</td>
      <td>1</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>4</td>
      <td>5</td>
      <td>Consequence</td>
      <td>Probability</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Temp Overshoot</td>
      <td>0.1</td>
      <td>1</td>
      <td>NaN</td>
      <td>0.1</td>
      <td>1</td>
      <td>1</td>
      <td>Release to envitornment</td>
      <td>0.01</td>
    </tr>
  </tbody>
</table>{% endblock %}
