{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}
{% block content %}
<h1>
    <strong>Tests Hub</strong>
</h1>
<hr/>
<p>Within this section are compiled different tests that can be used to obtain data for design or powder
    characterisation</p>
<p><strong>Powder properties include:</strong></p>
<ul>
    <li>Flammability</li>
    <li>Minimum Ignition Energy</li>
    <li>Thermal Stability</li>
    <li>Minimum Ignition Temperature</li>
    <li>Burning Properties</li>
    <li>Electrical Resistivity</li>
    <li>Minimum Oxygen for Combustion</li>
    <li>Explosion Characteristics</li>
    <li>ST Classification</li>
</ul>
<p>Hot surface test</p>
<p>These tests can be used to determine the operating range and the equipment 
    that can be implemented, hot surface tests include: 
</p>
<ul>
    <li>
        layer ignition test
    </li>
    <li>
        cloud ignition test
    </li>
</ul>
<p>In order to determine sources of electrostatic sparks or to make the plant design inherently safer</p>
<p>you can carry out tests to find the Minimum ignition energy and Dust Explosion Tests such as:</p>
<ul>
    <li>
        vertical tube test
    </li>
    <li>
        particle size analysis
    </li>
</ul>
<p>In oreder to test how the fire spreads across a layer of dust you can perform a train fire test</p>
<p>To avoid dust clouds capable of exploding you can perform a minimum explosible concentrate test</p>
<p>To make your design robust you need to carry out explosion severity tests to predict the consequences of an explosion</p>
<ul>
    <li>
        20 litre sphere Test
    </li>
    <li>
        Kst test
    </li>
    <li>
        Maximum explosion pressure sphere
    </li>
</ul>
<p>In order to test how air impacts explosion risk you can perform a limiting oxygen concentration test (LOC)</p>

{% endblock %}